/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a fonte padrão */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilizando o cabeçalho e o menu de navegação */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções principais */
section {
    padding: 40px;
    margin: 20px 0;
}

/* Estilizando a seção "Sobre" */
#sobre {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Contêiner da imagem */
.imagem-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imagem-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #333;
    object-fit: cover;
}

/* Estilizando os títulos */
h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Estilizando o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Ajustando o layout para telas menores */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
